<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moitoi">

    <application
        android:allowBackup="true"
        android:label="MoiToi"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoiToi">

        <!-- Déclare MatchActivity comme écran principal -->
        <activity android:name=".MatchActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity existe toujours mais n'est plus la page de démarrage -->
        <activity android:name=".ui.theme.MainActivity" />

        <!-- Ajout des activités du quiz -->
        <activity android:name=".LandingPage" />
        <activity android:name=".CreateQuizActivity" />
        <activity android:name=".ManageQuestionsActivity" />
        <activity android:name=".QuizConfirmationActivity" />
        <activity android:name=".InterfaceChoix" />
        <activity android:name=".RepondreQuizActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".AboutPage" />
        <activity android:name=".EnterQuizCodeActivity" />




    </application>
</manifest>
